---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="uk">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Привіт, астронавте!</h1>
			<p>
				Ласкаво просимо до офіційного шаблону блогу <a href="https://astro.build/">Astro</a>. 
				Цей шаблон є легким і мінімалістичним стартовим рішенням для тих, хто хоче створити 
				персональний сайт, блог або портфоліо за допомогою Astro.
			</p>
			<p>
				Цей шаблон уже містить кілька інтеграцій, налаштованих у файлі
				<code>astro.config.mjs</code>. Ви можете змінити конфігурацію, використовуючи
				<a href="https://astro.build/integrations">інтеграції Astro</a>, щоб додати 
				такі інструменти, як Tailwind, React або Vue до вашого проєкту.
			</p>
			<p>Ось кілька ідей, як почати працювати з цим шаблоном:</p>
			<ul>
				<li>Відредагуйте цю сторінку у файлі <code>src/pages/index.astro</code></li>
				<li>Змініть елементи заголовка сайту у <code>src/components/Header.astro</code></li>
				<li>Додайте своє ім’я у футер у <code>src/components/Footer.astro</code></li>
				<li>Перегляньте приклади постів у <code>src/content/blog/</code></li>
				<li>Налаштуйте макет сторінки блогу у <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Гарної роботи! Якщо виникнуть труднощі, не забудьте
				<a href="https://docs.astro.build/">прочитати документацію</a>
				або <a href="https://astro.build/chat">приєднатися до Discord</a>, щоб поставити запитання.
			</p>
			<p>
				Шукаєте шаблон блогу з більш індивідуальним стилем? Перегляньте
				<a href="https://github.com/Charca/astro-blog-template">astro-blog-template</a>
				від <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
